@import url("https://fonts.googleapis.com/css?family=Montserrat");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

body {
  height: 100vh;
  color: #1c1e21;
  background: linear-gradient(
    45deg,
    #1976d2 20%,
    #2196f3 20% 50%,
    #64b5f6 50% 80%,
    #4791db 80%
  );
  padding: 1rem 0 0.5rem 0;
}

a {
  color: #3f51b5;
  text-decoration: none;
}

.divider {
  height: 2px;
  background-color: rgb(25, 118, 210);
  min-width: 16vw;
}
